@import "../../../node_modules/sass-mq/mq";

.navbarr {
  display: flex;
  justify-content: center;
  width: 100%;
  background: transparent;
  .navbar {
    &-wrapper {
      display: flex;
      width: 100%;
      justify-content: space-between;
      @include mq($from: tablet) {
        max-width: 970px;
      }
      .navbar-brand {
        display: flex;
        justify-content: center; // changed due to MVP
        width: 100%; // changed due to MVP
        position: relative;
      }
      .navbar-item {
        display: flex;
        flex-grow: 0;
      }
    }
  }
}
