@import "node_modules/sass-mq/mq";

.action-blog-card {
  display: flex;
  height: 100%;
  width: 354px;
  @include mq($until: desktop) {
    width: 100%;
  }
  &__hashtags {
    display: flex;
    width: 100%;
    flex-direction: column;
    &-content {
      display: flex;
      position: relative;
      top: calc(var(--cirlceTagBoxSize) / 3 * 2);
      height: calc(var(--cirlceTagBoxSize));
      cursor: pointer;
      padding: 0 14px;
      transition: top 0.125s ease-in;
      &:hover {
        top: 0;
      }
      &-item {
        display: flex;
        align-items: center;
        position: relative;
        height: calc(var(--cirlceTagBoxSize) * 2);
        top: 0;
        transition: all 0.1s ease-in;
        &:hover {
          top: 25%;
        }
      }
      &-active-tag {
        display: flex;
        width: 100%;
        justify-content: flex-end;
      }
    }
  }
  &__doot {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-left: 8px;
    svg {
      cursor: pointer;
    }
    svg:hover {
      fill: rgba(255, 255, 255, 0.65);
    }
    &--active {
      svg,
      svg:hover {
        fill: white;
      }
    }
    &-social {
      display: flex;
      flex-direction: column;
    }
  }
}

.action-blog-card-block {
  display: inline-block;
  @include mq($until: desktop) {
    display: flex;
  }
}
