.tag-circle {
  display: inline-block;
  position: relative;
  outline: none;
  border: none;
  margin: 0 3px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  cursor: pointer;
  padding: 8px 0;
}
