@import "node_modules/sass-mq/mq";

.letters-icon {
  display: flex;
  margin: 15px;
  position: absolute;
  @include mq($until: tablet) {
    transform: scale(0.5);
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    @include mq($until: tablet) {
      width: 100%;
      height: 100%;
      position: absolute;
      align-items: center;
    }
  }
}
