@import "node_modules/sass-mq/mq";

.crossText {
  display: flex;
  align-items: center;
  position: relative;
  font-family: 'Archivo Black', sans-serif;
  font-size: 24px;
  color: #FD461E;
  @include mq($until: tablet) {
    visibility: hidden;
  }
  &:after{
    content: "";
    display: flex;
    position: absolute;
    width: 0;
    left: 0;
    height: 4px;
    background: #FD461E;
    transition: all 0.3s ease;
  }
  &:hover:after{
    width: 150%;
    left: -25%;
  }
}
