@import "node_modules/sass-mq/mq";

$borderRadius: 15px;
$borderColor: #4b4b4b;

@keyframes dootAnimation {
  0% {
    filter: none;
  }
  10% {
    filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.32));
  }
  100% {
    filter: none;
  }
}

.blog-item {
  display: flex;
  flex-grow: 1;
  background: black;
  flex-direction: column;
  padding: 11px;
  border: solid 1px $borderColor; //dashed?
  border-radius: $borderRadius;
  margin: 10px auto;
  height: 100%;
  min-width: 310px;
  width: 100%;
  z-index: 1;
  @include mq($until: desktop) {
    width: 100%;
  }
  &--social-toggled{
    animation: dootAnimation 0.9s linear;
  }
  &__header {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    padding: 0 10px;
    &-meta {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
      color: #968e8e;
      span:first-of-type {
        padding-left: 10px;
      }
      @include mq($until: tablet) {
        display: none;
      }
    }
  }
  &__description {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 30px;
    &-title {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      font-style: normal;
      font-weight: normal;
      font-size: 21px;
      line-height: 25px;
      color: #e2e2e2;
    }
    &-text {
      display: flex;
      width: 100%;
      margin-top: 11px;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 13px;
      color: #968e8e;
    }
    &-link {
      margin-top: 15px;
    }
  }
  &__image {
    width: 170px;
    height: 100px;
  }
  img {
    width: 100%;
    height: 100%;
  }
  &__image--full-size {
    width: 100%;
    height: 100%;
  }
}
